if login
	div#misskey-musicCenter.musicCenter
		p.comment= me.comment

header#misskey-main-header
	script.
		var musicCenterOpen = false;
		$(function() {
			$("#misskey-main-header > .main .mainContentsContainer .left nav .mainNav .misskey").click(function() {
				if (musicCenterOpen) {
					$("#misskey-musicCenter").css('top', '-100%');
				} else {
					$("#misskey-musicCenter").css('top', '0');
				}
				musicCenterOpen = !musicCenterOpen;
			});
			$("body").css("margin-top", $("body > #misskey-main-header").outerHeight()+"px");
		});
		$(window).load(function() { $("body").css("margin-top", $("body > #misskey-main-header").outerHeight()+"px"); });
	div.main
		div.mainContentsContainer
			if login
				div.left
					nav
						div.mainNav
							span.misskey Misskey
							ul
								li: a(href='/')
									i.fa.fa-home
									| ホーム
								li: a(href='/i/mention')
									i.fa.fa-at
									| メンション
								li: a(href='/i/talks')
									i.fa.fa-comments
									| トーク
				div.right
					if login
						div.account
							a.screenNameAnchor(href= url + '/' + me.screenName)
								span.screenName= '@' + me.screenName
							div.dropdown
								a.iconAnchor(href= url + '/' + me.screenName)
									img.icon(src= url + '/img/icon/' + me.screenName, alt='icon')
								div.dropdownContent
									ul
										li: a(href= url + '/' + me.screenName)
											i.fa.fa-laptop
											| マイページ
										li: a(href='/i')
											i.fa.fa-user
											| マイ メニュー
										li: a(href='/i/setting')
											i.fa.fa-cog
											| 設定
										li: a(href='/logout')
											i(class='fa fa-power-off')
											| ログアウト