meta(charset='utf-8')
meta(name='application-name', content='Misskey')
meta(name='theme-color', content='#831c86')
link(rel='shortcut icon', href='/favicon.icon')
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
if rootUser != null
	link(rel='stylesheet', href='/resources/styles/ui.css?user=' + rootUser.screenName)
else
	link(rel='stylesheet', href='/resources/styles/ui.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='/config')
script(src='/resources/scripts/main.js')