doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title Misskey アプリケーションのインストール
		link(rel='stylesheet', href='/resources/styles/authorize.css')
	
	body
		main(role='main')
			p= me.name
			p= app.name