doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title Misskey 認証エラー
		link(rel='stylesheet', href='/resources/styles/authorize-unknown-error.css')
	
	body
		main(role='main')
			h1
				i.fa.fa-exclamation-circle
				| Something happened
			p
				| Something happened
		footer
			a(href='https://misskey.xyz')
				img(src='/resources/images/authorize-footer-logo.svg', alt='Misskey')