doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		meta(name='keywords', content='Misskey')
		title Misskey Developer Center
		link(rel='stylesheet', href='/resources/styles/dev-home.css')
		script(src='/resources/scripts/dev-home.js')
	
	body
		include ../common/dev-header
		
		main(role='main')
			header
				h1 Developer Center