doctype html

html(lang=me.lang, dir='ltr', itemscope, itemtype='http://schema.org/WebPage', data-user-id= me.id)
	head(prefix='og: http://ogp.me/ns#')
		include ../common/head
		meta(name='description', content='ママに咲いたカーネーション')
		meta(name='keywords', content='Misskey')
		meta(property='og:title', content='Misskey')
		meta(property='og:type', content='article')
		meta(property='og:description', content='Misskey')
		meta(property='og:url', content=config.url)
		meta(property='og:image', content='')
		meta(property='og:site_name', content='Misskey')
		meta(property='twitter:card', content='summary')
		meta(property='twitter:site', content='@syuilo')
		meta(property='twitter:title', content='Misskey')
		meta(property='twitter:description', content='Misskey')
		meta(property='twitter:image', content='')
		meta(property='twitter:url', content=config.url)
		title Misskey
		script(src='/resources/scripts/common/status-core.js')
		script(src=webStreamingUrl + '/socket.io/socket.io.js')
		script(src='/resources/scripts/page/home.js')
		link(rel='stylesheet', href='/resources/styles/common/status-timeline.css')
		link(rel='stylesheet', href='/resources/styles/page/home.css')
		
	body
		include ../common/header
		
		main
			if customizeMode
				div#customizer-menu
					p
						i.fa.fa-wrench
						| ホームのカスタマイズ中
			div#contents
				div#left-contents
					if layout.left != null && layout.left.length > 0
						each widget in layout.left
							include "../dynamic-parts/home-widgets/" + widget
				div#main-contents(role='main')
					if layout.center != null && layout.center.length > 0
						each widget in layout.center
							include "../dynamic-parts/home-widgets/" + widget
				div#right-contents
					if layout.right != null && layout.right.length > 0
						each widget in layout.right
							include "../dynamic-parts/home-widgets/" + widget
					
