doctype html

html(lang='ja', dir='ltr', data-before-source-cursor=status.cursor, data-after-source-cursor=status.cursor)
	head
		include ../common/head
		meta(name='keywords', content='Misskey')
		title= status.user.name + 'さんの' + status.displayCreatedAt + 'の投稿'
		link(rel='stylesheet', href='/resources/styles/common/status-detail-one-flat.css?user=' + user.screenName)
		link(rel='stylesheet', href='/resources/styles/page/user-status.css?user=' + user.screenName)
		script(src='/resources/scripts/common/detail-one-status-core.js')
		script(src='/resources/scripts/page/user-status.js')
	
	body
		include ../common/header
		
		main(role='main')
			div#status
				button#read-after(role='button', title='これより後の投稿を読む', data-ui-background-wallpaper-blur='true')
					i.fa.fa-chevron-up
				aside.timeline#after-timeline
					ol.statuses
				div.ui-status.main!= statusHtml
				aside.timeline#before-timeline
					ol.statuses
				button#read-before(role='button', title='これより前の投稿を読む', data-ui-background-wallpaper-blur='true')
					i.fa.fa-chevron-down
