extends ../layouts/user

block title
	= user.name

block assets
	link(rel='stylesheet', href='/resources/styles/page/user-followings.css?user=' + user.screenName)
	script(src='/resources/scripts/page/user-followings.js')

block contents
	div#followings-list
		div.users-list
			ol.users
				each user in followings
					li.user(data-user-verified!= user.isVerified.toString())
						a.icon-anchor(href= '/' + user.screenName)
							img.icon(src=user.iconImageUrl, alt='icon')
						div.main-container
							p
								a(href='/' + user.screenName)= user.name
								span.screenName= '@' + user.screenName
							if user.comment != null
								p.comment= user.comment
