doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		meta(name='keywords', content='Misskey')
		title= user.name + 'さん'
		link(rel='stylesheet', href='/resources/styles/page/user-room.css?user=' + user.screenName)
		script(src='/resources/common/scripts/lib/three.min.js')
		script(src='/resources/common/scripts/lib/OrbitControls.js')
		script(src='/resources/common/scripts/lib/OBJLoader.js')
		script(src='/resources/common/scripts/lib/MTLLoader.js')
		script(src='/resources/common/scripts/lib/OBJMTLLoader.js')
	
	body
		//include ../common/header
		script(src='/resources/scripts/page/user-room.js')