doctype html

html(lang='ja', dir='ltr', data-room-items= JSON.stringify(room.items), data-is-me!= (login && me.id == user.id).toString(), data-user-screen-name= user.screenName, data-user-name= user.name, data-user-icon-url= user.iconImageUrl)
	head
		include ../common/head
		meta(name='keywords', content='Misskey')
		title= user.name + '\'s room'
		link(rel='stylesheet', href='/resources/styles/page/user-room.css?user=' + user.screenName)
		script(src='/resources/common/scripts/lib/three.js/build/three.min.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/controls/OrbitControls.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/loaders/OBJLoader.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/loaders/MTLLoader.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/loaders/OBJMTLLoader.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/postprocessing/EffectComposer.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/postprocessing/MaskPass.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/postprocessing/RenderPass.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/postprocessing/ShaderPass.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/postprocessing/BloomPass.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/postprocessing/BokehPass.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/shaders/CopyShader.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/shaders/BokehShader.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/shaders/ConvolutionShader.js')
		script(src='/resources/common/scripts/lib/three.js/examples/js/shaders/FXAAShader.js')
		script(src='/resources/common/scripts/lib/three.js/examples/fonts/helvetiker_regular.typeface.js')
		//script(src='/resources/common/scripts/lib/three.js/examples/js/renderers/Projector.js')
		//script(src='/resources/common/scripts/lib/three.js/examples/js/SkyShader.js')
		//script(src='/resources/common/scripts/lib/three.js/examples/js/Cloth.js')
	
	body
		button#setting-button(title='設定')
			i.fa.fa-cog
		div#settings-form-background(role='presentation')
		div#settings-form-container
			div#settings-form
				label.graphics-quality
					p グラフィックス クオリティ
					select
						option(value='ultra') 最高
						option(value='high') 高
						option(value='medium') 中
						option(value='low') 低
						option(value='very-low') 最低
						option(value='super-low') FuckingQuality
		if login
			if me.id == user.id
				div#kyoppie-container
					div#menu
						button#save-button
							i.fa.fa-cloud-upload
							p 部屋を保存
					div#box
						h1
							i.fa.fa-archive
							| 所持品
						ul
				div#item-controller
					h1.title
					canvas#item-controller-preview-canvas(width=224, height=128)
					//
						button.pos-forward-button
							| forward
						button.pos-back-button
							| back
						button.pos-left-button
							| left
						button.pos-right-button
							| right
						button.pos-up-button
							| up
						button.pos-down-button
							| down
					section
						h2 位置
						label
							p X
							input.pos-x(type='number', step=0.01, min=-2.5, max=2.5)
						label
							p Z
							input.pos-z(type='number', step=0.01, min=-2.5, max=2.5)
						label
							p Y
							input.pos-y(type='number', step=0.01, min=0, max=1.5)
					section
						h2 回転
						label
							p X
							input.rotate-x(type='number', step=0.01, min=-3.14, max=3.14)
						label
							p Z
							input.rotate-z(type='number', step=0.01, min=-3.14, max=3.14)
						label
							p Y
							input.rotate-y(type='number', step=0.01, min=-3.14, max=3.14)
					div.hide
						button.item-hide-button
							i.fa.fa-archive
							p しまう
		//include ../common/header
		script(src='/resources/scripts/page/user-room.js')
