header#misskey-main-header(role='banner')
	script(src='/resources/scripts/header.js')
	div.main
		div.main
			a.logo(href='/')
				img(src='/resources/images/header-logo.svg', alt='Misskey')
			a.my-apps(href='/my-apps')
				i.fa.fa-cube
