div.misskey-home-widget#widget-big-clock(data-ui-background-wallpaper-blur='true', data-widget-id='big-clock', data-widget-name='大きな時計', data-user-color= (rootUser != null) ? rootUser.color : login ? me.color : config.themeColor)
    script(src='/resources/scripts/common/home-widget-big-clock.js')
    canvas#widget-big-clock-canvas(width='254', height='254')
