div.misskey-home-widget#widget-clock(data-ui-background-wallpaper-blur='true', data-widget-id='clock', data-widget-name='時計')
    script(src='/resources/scripts/common/home-widget-clock.js')
    canvas#widget-clock-canvas(width='254', height='254')
