article.misskey-home-widget#widget-donate(data-ui-background-wallpaper-blur='true', data-widget-not-allow-remove='false', data-widget-id='donate', data-widget-name='寄付のお願い')
    h1 寄付のお願い
    p
        | Misskeyの運営にはドメイン、サーバー等のコストが掛かります。Misskeyは広告を掲載したりしないため、収入を皆様からの寄付に頼っています。もしご興味があれば、
        a(href='/syuilo') @syuilo
        | までご連絡ください。ご協力ありがとうございます。
    img(src='/resources/common/images/sakurako.png')
