div.misskey-home-widget#widget-small-analog-clock(data-ui-background-wallpaper-blur='true', data-widget-id='small-analog-clock', data-widget-name='小さなアナログ時計', data-user-color= (rootUser != null) ? rootUser.color : login ? me.color : config.themeColor)
    script(src='/resources/scripts/common/home-widget-small-analog-clock.js')
    canvas#widget-small-analog-clock-canvas(width='254', height='100')
