div.misskey-home-widget#widget-timeline(data-widget-not-allow-move='true', data-widget-not-allow-remove='true', data-widget-id='timeline', data-widget-name='タイムライン')
    div#post-form-container
        form#post-form(enctype='multipart/form-data', role='form', data-ui-background-wallpaper-blur='true')
            img.icon(src=me.iconImageUrl, alt='icon', title=me.comment)
            div.form
                textarea(name='text', placeholder='What\'s up?', role='textbox', aria-multiline)
                div.design-allow(role='presentation')
                input.ui-button(type='submit', value!='Update &#xf1d8;', role='button')
                ul.tag.ui-taginput
                div.image-attacher
                    p
                        i.fa.fa-picture-o
                    input(name='image', type='file', accept='image/*')
    div.timeline-container
        div.timeline-main!= timelineHtml
