doctype html

html(lang='ja', dir='ltr')
	head
		include ../../common/mobile/head
		title Misskey
		link(rel='stylesheet', href='/resources/styles/mobile/home.css')
		link(rel='stylesheet', href='/resources/styles/mobile/timeline.css')
		script(src=webStreamingUrl + '/socket.io/socket.io.js')
		script(src='/resources/scripts/mobile/header.js')
		script(src='/resources/scripts/mobile/home.js')
	
	body
		header#misskey-main-header
			button#open-misskey-main-nav-button(role='button'): i.fa.fa-bars
			if page = 'home'
				h1
					i.fa.fa-home
					| Home
			else if page = 'mention'
				h1
					i.fa.fa-at
					| Mentions
			button.post: i.fa.fa-pencil-square-o
		include ../../common/mobile/nav
		
		main#misskey-main(role='main')
			div#timeline!= timelineHtml