doctype html

html(lang='ja', dir='ltr')
	head
		include ../../common/mobile/head
		title Misskey
		link(rel='stylesheet', href='/resources/styles/mobile/home.css')
		link(rel='stylesheet', href='/resources/styles/mobile/timeline.css')
		script(src=webStreamingUrl + '/socket.io/socket.io.js')
		script(src='/resources/scripts/mobile/header.js')
		script(src='/resources/scripts/mobile/home.js')
	
	body
		header#misskey-main-header
			h1 Home
			a.post(href='/i/status-new?ref=/'): i.fa.fa-pencil-square-o
		include ../../common/mobile/nav
		
		main(role='main')
			div#timeline!= timelineHtml