doctype html

html(lang='ja', dir='ltr')
	head
		include ../../common/mobile/head
		title Misskey - 通知
		link(rel='stylesheet', href='/resources/styles/mobile/home.css')
		link(rel='stylesheet', href='/resources/styles/mobile/notice.css')
		script(src='/resources/scripts/mobile/header.js')
		script(src='/resources/scripts/mobile/i-notices.js')
	
	body
		header#misskey-main-header
			button#open-misskey-main-nav-button(role='button'): i.fa.fa-bars
			h1 通知
		include ../../common/mobile/nav
		
		main#misskey-main(role='main')
			div#notices!= timelineHtml