doctype html

html(lang='ja', dir='ltr')
	head
		include ../../common/mobile/head
		title= status.user.name + 'さんの' + status.displayCreatedAt + 'の投稿'
		link(rel='stylesheet', href='/resources/styles/mobile/status.css')
		link(rel='stylesheet', href='/resources/styles/mobile/timeline.css')
		script(src='/resources/scripts/mobile/header.js')
		script(src='/resources/scripts/mobile/status.js')
	
	body
		header#misskey-main-header
			h1= status.user.name + 'の投稿'
		include ../../common/mobile/nav
		
		main(role='main')
			div#status!= statusHtml
			form#form(enctype='multipart/form-data', role='form')
				textarea(name='text', placeholder='What\'s up?', role='textbox', aria-multiline)
				input.ui-button(type='submit', value!='&#xf1d8;', role='button')
				div.image-attacher
					p
						i.fa.fa-picture-o
					input(name='image', type='file', accept='image/*')
