extends ../layout.jade

block title
	| circle/create

block method
	| POST

block endpoint
	| https://api.misskey.xyz/circle/create

block overview
	p サークルを作成します。

block parameters
	table
		thead
			tr
				th Name
				th isRequired?
				th Description
		tbody
			tr
				td name
				td yes
				td サークルの名前
			tr
				td screen_name
				td yes
				td サークルのスクリーン・ネーム
			tr
				td description
				td yes
				td サークルの説明
