div.timeline
	if statuses != null && statuses.length > 0
		ol.statuses
			each status in statuses
				li!= status
		button.load-more(role='button') Read more!
	else
		p.timeline-empty タイムラインに表示するものがありません