@themeColor: <%themeColor%>;

main {

	> header {
		display: block;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 16px 32px 0 32px;
		max-width: 800px;

		#icon {
			display: inline-block;
			width: 64px;
			height: 64px;
			border-radius: 8px;
		}

		#name {
			display: inline-block;
			margin: 0;
			padding: 0 16px;
			line-height: 64px;
			vertical-align: top;
			color: #444;
			font-weight: normal;
		}
	}

	> .main {
		box-sizing: border-box;
		margin: 0 auto;
		padding: 16px 32px 32px 32px;
		max-width: 800px;

		#nav {
			border-bottom: solid 1px #ddd;

			> ul {
				position: relative;
				bottom: -1px;
				margin: 0;
				padding: 0;

				> li {
					display: inline-block;

					&.active {
						border-top: solid 1px #ddd;
						border-right: solid 1px #ddd;
						border-bottom: solid 1px #fff;
						border-left: solid 1px #ddd;

						> a {
							color: @themeColor;

							&:hover {
								color: @themeColor;
							}
						}
					}

					&.unactive {
						border-top: solid 1px transparent;
						border-right: solid 1px transparent;
						border-bottom: solid 1px #ddd;
						border-left: solid 1px transparent;

						> a {
							color: #777;

							&:hover {
								color: #000;
							}
						}
					}

					> a {
						display: inline-block;
						padding: 16px 24px;
						transition: none;

						> i {
							margin-right: 8px;
						}
					}
				}
			}
		}
	}
}

#content {
	padding: 32px;
}

#app-key {
	.key {
		padding: 32px;
		background: #fafafa;

		.field {
			position: relative;

			input {
				padding-left: ~"calc(1em + 20px + 12px)" !important;
				height: ~"calc(1em + 24px)";

				&:focus + .ico {
					color: darken(@themeColor, 20%);
					transition: all .1s ease;
				}
			}

			.ico {
				display: block;
				position: absolute;
				top: 2px;
				left: 2px;
				padding: 8px 10px;
				margin: 0;
				width: 1em;
				height: ~"calc(1em + 4px)";
				font-size: 1em;
				font-style: normal;
				color: #777;
				background: rgba(0, 0, 0, 0.025);
				border: none;
				border-radius: 2px 0px 0px 2px;
				transition: all .5s ease;
			}
		}
	}
}

#settings {
	> form {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: 650px;

		label {
			display: block;
			padding: 16px 0;

			h2 {
				margin: 0 0 8px 0;
				color: #444;
				font-weight: normal;

				.required {
					margin-right: 0.25em;
					color: #888;
				}
			}

			input[name='name'], input[name='id'] {
				max-width: 26em;
			}

			.caption {
				margin: 8px;
				font-size: 0.9em;
				color: #777;
			}
		}

		button[type=submit] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
			box-sizing: border-box;
			padding: 32px 16px;
			margin: 0;
			width: 100%;
			font-size: 1.2em;
			color: #555;
			outline: none;
			border: none;
			border-radius: 0;
			box-shadow: none;
			background: transparent;
			transition: all .5s ease;
			cursor: pointer;

			* {
				cursor: pointer;
			}

			&:hover {
				color: @themeColor;
				transition: all .2s ease;
			}

			&:focus {
				color: @themeColor;
				transition: all .2s ease;
			}

			&:active {
				color: darken(@themeColor, 30%);
				transition: all .2s ease;
			}

			i {
				margin-right: 0.5em;
			}
		}
	}
}

#app-icon-edit {

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	label {
		display: block;
		margin: 16px 0;

		h2 {
			margin: 0 0 4px 0;
			font-size: 1.3em;
			font-weight: 100;
		}
	}

	.preview {
		display: block;
		margin: 0 auto;
		max-height: 300px;
		max-width: 100%;
		background: #eee;

		.image {
			display: block;
			margin: 0 auto;
			max-height: 300px;
			max-width: 100%;
		}
	}

	input[type=file] {
		display: block;
		padding: 8px;
		margin: 0 auto;
		border: dashed 3px #ddd;
		border-radius: 4px;

		&:hover, &:focus, &:active {
			border: dashed 3px #ccc;
		}
	}

	.submit {
		display: block;
		float: right;
	}

	.progress {


		.status {
			margin: 0;
			padding: 0;
			color: rgba(0, 0, 0, 0.7);
		}

		progress {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			display: block;
			margin: 0;
			width: 100%;
			height: 8px;
			border: solid 1px #eee;
			border-radius: 8px;
			overflow: hidden;

			&::-webkit-progress-value {
				background-color: @themeColor;
				transition: all 1s ease;
			}

			&::-webkit-progress-bar {
				background-color: #fff;
			}
		}
	}
}
