@themeColor: <%themeColor%>;

main {

	h1 {
		display: block;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 32px;
		max-width: 650px;
		color: #444;
		font-weight: normal;
		border-bottom: solid 1px #eee;
	}

	> .main {
		box-sizing: border-box;
		margin: 0 auto;
		padding: 32px;
		max-width: 650px;
	}
}
