article
	header
		h1
			block title
		p#method
			block method
		p#endpoint
			block endpoint
	section#overview
		h2 Overview
		block overview
	section#parameters
		h2 Parameters
		block parameters
	section#response
		h2 Response
		block response
		section#exampleResponse
			h3 Example
			samp
				code
					pre
						block exampleResponse
