extends ../layout.jade

block title
	| sauth/get_access_token

block method
	| GET

block endpoint
	| https://api.misskey.xyz/sauth/get_access_token

block overview
	p 他のAPIを利用する際に必要なSAuthのアクセス・トークンを取得します


block parameters
	table
		thead
			tr
				th Name
				th isRequired?
				th Description
		tbody
			tr
				td consumer_key
				td yes
				td アプリケーションの登録で得られたコンシューマ・キー
			tr
				td request_token
				td yes
				td sauth/get_request_token で得られたリクエスト・トークン
			tr
				td pincode
				td yes
				td authorize で得たピンコード
