extends ./layout.jade

block title
	| Circle

block overview
	p サークルを格納するオブジェクトです。

block properties
	table
		thead
			tr
				th Name
				th Type
				th Description
		tbody
			tr
				td id
				td Number
				td ID
			tr
				td name
				td String
				td 名前
			tr
				td screenName
				td String
				td スクリーンネーム
			tr
				td description
				td String
				td 説明
			tr
				td userId
				td Number
				td 作成したユーザのID
			tr
				td createdAt
				td String
				td 作成された日時
