extends ./layout.jade

block title
	User

block overview
	p ユーザー情報を格納するオブジェクトです。

block parameters
	table
		thead
			tr
				th Name
				th Type
				th Description
		tbody
			tr
				td bio
				td String
				td ユーザーのプロフィール。
			tr
				td color
				td String
				td ユーザーカラー。
			tr
				td comment
				td String
				td コメント。
			tr
				td createdAt
				td String
				td アカウント作成日時。
			tr
				td id
				td Number
				td ユーザーID。
			tr
				td lang
				td String
				td ユーザーのISO 639言語コード。
			tr
				td location
				td String
				td ロケーション。
			tr
				td name
				td String
				td 名前。
			tr
				td screenName
				td String
				td Screen name。
			tr
				td url
				td String
				td URL。
