doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title Webサイト
		link(rel='stylesheet', href='/resources/styles/page/i-settings.css')
		script(src='/resources/scripts/common/header.js')
		script(src='/resources/scripts/page/i-settings.js')
	
	body
		header#misskey-main-header
			button#open-misskey-main-nav-button(role='button'): i.fa.fa-bars
			h1
				i.fa.fa-cog
				| Webサイト
		include ../common/nav
		
		main#misskey-main(role='main')
			form#form(action= apiUrl + '/account/update-url', method='put')
				input.ui-input-url(name='url', type='url', placeholder=me.url, value=me.url)
				input.ui-button(type='submit', value='決定')
