doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title Misskey - 設定
		link(rel='stylesheet', href='/resources/styles/page/i-settings.css')
		script(src='/resources/scripts/common/header.js')
	
	body
		header#misskey-main-header
			button#open-misskey-main-nav-button(role='button'): i.fa.fa-bars
			h1
				i.fa.fa-cog
				| 設定
		include ../common/nav
		
		main#misskey-main(role='main')
			p#message= 'Hello, ' + me.name + '!'
			ul.menu
				li
					a(href='/i/settings/profile')
						| プロフィール
				li
					a(href='/i/settings/mobile-header-design')
						| ヘッダーデザイン
			ul.menu
				li
					a(href='/logout')
						| ログアウト
