html {
	background: #eee;
}

main {
	display: block;
	margin: 32px auto;
	padding: 32px;
	width: 100%;
	max-width: 512px;
	text-align: center;
	background: #fff;

	h1 {
		margin: 0;
		color: #00AFC8;
		font-size: 1.5em;

		i {
			margin-right: 0.25em;
		}
	}

	.app {
		.icon {
			display: block;
			width: 80px;
			height: 80px;
			margin: 0 auto;
		}
	}
}

footer {
	text-align: center;

	img {
		max-width: 128px;
	}
}
