html {
	background: #eee;
}

main {
	display: block;
	text-align: center;

	h1 {
		margin: 48px 0 0 0;
		color: #00afc8;
		font-size: 1.5em;

		i {
			margin-right: 0.25em;
		}
	}

	> .form {
		display: block;
		margin: 32px auto;
		padding: 8px 32px 32px 32px;
		width: 100%;
		max-width: 512px;
		text-align: center;
		background: #fff;

		.app {
			position: relative;

			.name {
				margin: 0 0 8px 0;
				color: #444;
				font-size: 1.2em;
			}

			.icon {
				display: block;
				position: relative;
				z-index: 1;
				box-sizing: border-box;
				width: 80px;
				height: 80px;
				margin: 0 auto;
				border-radius: 80px;
				border: solid 2px #eee;
			}

			&:before {
				content: "";
				display: block;
				position: absolute;
				bottom: 39px;
				width: 100%;
				height: 2px;
				background: #eee;
			}
		}


		.me {
			.icon {
				display: block;
				width: 128px;
				height: 128px;
				margin: 0 auto;
				border-radius: 128px;
			}
		}
	}
}

footer {
	text-align: center;

	img {
		max-width: 128px;
	}
}
