doctype html

html(lang='ja', dir='ltr', data-thread-id= thread.id)
	head
		include ../common/head
		meta(name='keywords', content='Misskey')
		title= thread.title
		link(rel='stylesheet', href='/resources/styles/bbs-thread.css')
		script(src=webStreamingUrl + '/socket.io/socket.io.js')
		script(src='/resources/scripts/bbs-thread.js')
	
	body
		include ../common/header
		
		main(role='main')
			header
				h1= thread.title
			div#posts!= postsHtml