doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		meta(name='keywords', content='Misskey,掲示板')
		title Misskey掲示板
		link(rel='stylesheet', href='/resources/styles/bbs-home.css')
		script(src='/resources/scripts/bbs-home.js')
	
	body
		include ../common/header
		
		main(role='main')
			header(role='banner')
				h1
					i.fa.fa-angle-double-right
					| Misskey掲示板
			div.contents
				form#new-thread-form
					h2
						| 新しく
						b スレッド
						| を作成しますか？
					input.ui-input-text(type='text', name='title', placeholder='スレッドタイトル')
					input.ui-button(type='submit', value='スレッドを作成する')
				article#hot-threads
					h2 人気のスレッド
					ol.threads
						each thread in hotThreads
							li.thread(title= thread.title)
								a(href= '/' + thread.id)
									h3.title= thread.title
				article#recent-threads
					h2 新着スレッド
					ol.threads
						each thread in recentThreads
							li.thread(title= thread.title)
								a(href= '/' + thread.id)
									h3.title= thread.title