doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		meta(name='description', content='Oops')
		meta(name='keywords', content='Misskey')
		title= 'Oops'
		link(rel='stylesheet', href='/resources/styles/error.css')
	
	body
		include ../common/header
		
		main(role='main')
			h1
				i.fa.fa-exclamation-triangle
				| 申し訳ありません。技術的な問題が発生しています。
			details
				summary 詳細情報
				pre= err
			p
				| Back to 
				a(href='/') home
				| .
