doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		meta(name='description', content='plz login.')
		title= 'Misskeyにログイン'
		link(rel='stylesheet', href='/resources/styles/login.css')
	
	body
		main(role='main')
			h1
				| Misskeyアカウントでログインしてください。
			