doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		meta(name='description', content='Not found')
		meta(name='keywords', content='Misskey')
		title= 'Not found'
		link(rel='stylesheet', href='/resources/styles/not-found.css')
	
	body
		include ../common/header
		
		main(role='main')
			h1
				i(class='fa fa-exclamation-triangle')
				| Not found.
			p コンテンツが見つかりません。URLが正しいかご確認ください。
			p
				| Back to 
				a(href='/') home
				| .
