doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		meta(name='keywords', content='Misskey')
		title アンケート
		script(src='/resources/scripts/questionnaire.js')
		link(rel='stylesheet', href='/resources/styles/questionnaire.css')
		
	body
		include ../common/header
		
		main(role='main')
			form#form(action='/questionnaire', method='post')
				h1 よろしければ、Misskeyについての質問にお答えください。
				fieldset.status-timeline-frequency
					legend ステータス タイムラインの使用頻度
						label
							input(type='radio', name='status-timeline-frequency', value='not-rated')
							| 使ったことはない
						div.rate
							label
								input(type='radio', name='status-timeline-frequency', value='very-seldom')
								| めったに使わない
							label
								input(type='radio', name='status-timeline-frequency', value='seldom')
								| 少ない
							label
								input(type='radio', name='status-timeline-frequency', value='normal')
								| 普通
							label
								input(type='radio', name='status-timeline-frequency', value='often')
								| 多い
							label
								input(type='radio', name='status-timeline-frequency', value='very-often')
								| とても多い
							
				fieldset.status-timeline-usability
					legend ステータス タイムラインの使いやすさ
						label
							input(type='radio', name='status-timeline-usability', value='not-rated')
							| 未評価
						div.rate
							label
								input(type='radio', name='status-timeline-usability', value='very-bad')
								| すごく使いにくい
							label
								input(type='radio', name='status-timeline-usability', value='bad')
								| 使いにくい
							label
								input(type='radio', name='status-timeline-usability', value='normal')
								| 普通
							label
								input(type='radio', name='status-timeline-usability', value='good')
								| 使いやすい
							label
								input(type='radio', name='status-timeline-usability', value='very-good')
								| とても使いやすい
							
				fieldset.talk-frequency
					legend トークの使用頻度
						label
							input(type='radio', name='talk-frequency', value='not-rated')
							| 使ったことはない
						div.rate
							label
								input(type='radio', name='talk-frequency', value='very-seldom')
								| めったに使わない
							label
								input(type='radio', name='talk-frequency', value='seldom')
								| 少ない
							label
								input(type='radio', name='talk-frequency', value='normal')
								| 普通
							label
								input(type='radio', name='talk-frequency', value='often')
								| 多い
							label
								input(type='radio', name='talk-frequency', value='very-often')
								| とても多い
							
				fieldset.talk-usability
					legend トークの使いやすさ
						label
							input(type='radio', name='talk-usability', value='not-rated')
							| 未評価
						div.rate
							label
								input(type='radio', name='talk-usability', value='very-bad')
								| すごく使いにくい
							label
								input(type='radio', name='talk-usability', value='bad')
								| 使いにくい
							label
								input(type='radio', name='talk-usability', value='normal')
								| 普通
							label
								input(type='radio', name='talk-usability', value='good')
								| 使いやすい
							label
								input(type='radio', name='talk-usability', value='very-good')
								| とても使いやすい
							
				fieldset.bbs-frequency
					legend 掲示板の使用頻度
						label
							input(type='radio', name='bbs-frequency', value='not-rated')
							| 使ったことはない
						div.rate
							label
								input(type='radio', name='bbs-frequency', value='very-seldom')
								| めったに使わない
							label
								input(type='radio', name='bbs-frequency', value='seldom')
								| 少ない
							label
								input(type='radio', name='bbs-frequency', value='normal')
								| 普通
							label
								input(type='radio', name='bbs-frequency', value='often')
								| 多い
							label
								input(type='radio', name='bbs-frequency', value='very-often')
								| とても多い
							
				fieldset.bbs-usability
					legend 掲示板の使いやすさ
						label
							input(type='radio', name='bbs-usability', value='not-rated')
							| 未評価
						div.rate
							label
								input(type='radio', name='bbs-usability', value='very-bad')
								| すごく使いにくい
							label
								input(type='radio', name='bbs-usability', value='bad')
								| 使いにくい
							label
								input(type='radio', name='bbs-usability', value='normal')
								| 普通
							label
								input(type='radio', name='bbs-usability', value='good')
								| 使いやすい
							label
								input(type='radio', name='bbs-usability', value='very-good')
								| とても使いやすい
							
				fieldset.design
					legend 全体的なサイトのデザイン
						label
							input(type='radio', name='design', value='not-rated')
							| 未評価
						div.rate
							label
								input(type='radio', name='design', value='very-bad')
								| すごく悪い
							label
								input(type='radio', name='design', value='bad')
								| 悪い
							label
								input(type='radio', name='design', value='normal')
								| 普通
							label
								input(type='radio', name='design', value='good')
								| 良い
							label
								input(type='radio', name='design', value='very-good')
								| とても良い
				
				button
					| 送信