doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		meta(name='keywords', content='Misskey')
		title アンケート
		script(src='/resources/scripts/questionnaire.js')
		link(rel='stylesheet', href='/resources/styles/questionnaire.css')
		
	body
		include ../common/header
		
		main(role='main')
			form#form(action='/questionnaire', method='post')
				h1 Misskeyについての質問
				
				section
					h2 ステータス タイムラインについて
					fieldset.status-timeline-frequency
						legend ステータス タイムラインの使用頻度
						div.rate
							label
								input(type='radio', name='status-timeline-frequency', value='unused')
								p 使ったことはない
							label
								input(type='radio', name='status-timeline-frequency', value='seldom')
								p あまり使わない
							label
								input(type='radio', name='status-timeline-frequency', value='normal')
								p それなりに
							label
								input(type='radio', name='status-timeline-frequency', value='often')
								p よく使う
							label
								input(type='radio', name='status-timeline-frequency', value='very-often')
								p これなしでは生きていけないほどよく使う
							
					fieldset.status-timeline-usability
						legend ステータス タイムラインの使いやすさ
						div.rate
							label
								input(type='radio', name='status-timeline-usability', value='very-bad')
								p すごく使いにくい
							label
								input(type='radio', name='status-timeline-usability', value='bad')
								p 使いにくい
							label
								input(type='radio', name='status-timeline-usability', value='normal')
								p 普通
							label
								input(type='radio', name='status-timeline-usability', value='good')
								p 使いやすい
							label
								input(type='radio', name='status-timeline-usability', value='very-good')
								p とても使いやすい
						fieldset.suggestion(disabled)
							legend 改善するにはどうしたら良いと思われますか？
							textarea(name='status-timeline-usability-suggestion', placeholder='ご意見があればご記入ください。')
							
				section
					h2 トークについて
					fieldset.talk-frequency
						legend トークの使用頻度
						div.rate
							label
								input(type='radio', name='talk-frequency', value='unused')
								p 使ったことはない
							label
								input(type='radio', name='talk-frequency', value='seldom')
								p あまり使わない
							label
								input(type='radio', name='talk-frequency', value='normal')
								p それなりに
							label
								input(type='radio', name='talk-frequency', value='often')
								p よく使う
							label
								input(type='radio', name='talk-frequency', value='very-often')
								p これなしでは生きていけないほどよく使う

					fieldset.talk-usability
						legend トークの使いやすさ
						div.rate
							label
								input(type='radio', name='talk-usability', value='very-bad')
								p すごく使いにくい
							label
								input(type='radio', name='talk-usability', value='bad')
								p 使いにくい
							label
								input(type='radio', name='talk-usability', value='normal')
								p 普通
							label
								input(type='radio', name='talk-usability', value='good')
								p 使いやすい
							label
								input(type='radio', name='talk-usability', value='very-good')
								p とても使いやすい
						fieldset.suggestion(disabled)
							legend 改善するにはどうしたら良いと思われますか？
							textarea(name='talk-usability-suggestion', placeholder='ご意見があればご記入ください。')
				
				section
					h2 掲示板について
					fieldset.bbs-frequency
						legend 掲示板の使用頻度
						div.rate
							label
								input(type='radio', name='bbs-frequency', value='unused')
								p 使ったことはない
							label
								input(type='radio', name='bbs-frequency', value='seldom')
								p あまり使わない
							label
								input(type='radio', name='bbs-frequency', value='normal')
								p それなりに
							label
								input(type='radio', name='bbs-frequency', value='often')
								p よく使う
							label
								input(type='radio', name='bbs-frequency', value='very-often')
								p これなしでは生きていけないほどよく使う

					fieldset.bbs-usability
						legend 掲示板の使いやすさ
						div.rate
							label
								input(type='radio', name='bbs-usability', value='very-bad')
								p すごく使いにくい
							label
								input(type='radio', name='bbs-usability', value='bad')
								p 使いにくい
							label
								input(type='radio', name='bbs-usability', value='normal')
								p 普通
							label
								input(type='radio', name='bbs-usability', value='good')
								p 使いやすい
							label
								input(type='radio', name='bbs-usability', value='very-good')
								p とても使いやすい
						fieldset.suggestion(disabled)
							legend 改善するにはどうしたら良いと思われますか？
							textarea(name='bbs-usability-suggestion', placeholder='ご意見があればご記入ください。')
							
				section
					h2 Webサイトについて
					fieldset.design
						legend 全体的なサイトのデザイン
						div.rate
							label
								input(type='radio', name='design', value='very-bad')
								p すごく悪い
							label
								input(type='radio', name='design', value='bad')
								p 悪い
							label
								input(type='radio', name='design', value='normal')
								p 普通
							label
								input(type='radio', name='design', value='good')
								p 良い
							label
								input(type='radio', name='design', value='very-good')
								p とても良い
						fieldset.suggestion(disabled)
							legend 改善するにはどうしたら良いと思われますか？
							textarea(name='design-suggestion', placeholder='ご意見があればご記入ください。')
				
				section
					h2 最後に
					textarea(name='message', placeholder='ご意見、ご提案、ご感想などがあればご自由にご記入ください。')
				
				button#submit(type='submit')
					i.fa.fa-check
					| 送信