doctype html

html(lang='ja', dir='ltr')
	head
		include ../templates/head
		meta(name='description', content='ママに咲いたカーネーション')
		meta(name='keywords', content='Misskey')
		block title
		link(rel='stylesheet', href='/resources/styles/home.css')
		link(rel='stylesheet', href='/resources/styles/theme/home.css')
		block assets
		
	body
		include ../templates/header
		
		main
			block content
