@themeColor: <%themeColor%>;
@headerImageUrl: <%headerImageUrl%>;
@wallpaperUrl: <%wallpaperUrl%>;
@blurredWallpaperUrl: <%blurredWallpaperUrl%>;
@fadeThemeColor: fade(lighten(@themeColor, 47%), 95%);

#form {
	padding: 8px;
	background: #fff;
}