extends ../../layouts/about-article

block title
	| 寄付

block content
	p Misskeyは寄付を受け付けています。
	section
		h2 私が寄付したお金はどうなるのですか？
		p
			| あなたが寄付してくださったお金はMisskeyの運営費(サーバーなど)に用いられます。
	section
		h2 Misskeyの財務情報はどこで見られますか
		p 準備中です。
	section
		h2 どんな計画を立てていますか？このプロジェクトはどこへ向かっているのでしょうか？
		p
			| この組織の創設者、syuiloは、このように話しています。
			br
			| "想像してみてください。すべての、１人１人の人間が、すべての持ちうるゆるゆりSSを持ちより、自由に分かち合える世界を。"
			br
			| それがこのプロジェクトが向かおうとしている最終目的地なのです。- そして、それこそが、その求める世界にたどりつくために、あなたの助けが必要な理由なのです。
	section
		h2 どうやって寄付できますか？
		p 現在のところ、銀行振込/アマギフ/Vプリカ のご寄付に対応しています。
		p
			| 上記の方法でご寄付を検討されている方は、
			a(href='/syuilo') @syuilo
			| までご連絡ください。詳しい手順をお伝えいたします。
	section
		h2 寄付をするとどうなりますか？
		p 喜びます。
	section
		h2 寄付をすることで私に何か特典はありますか？
		p
			| あなたのお使いのMisskeyアカウントが
			a(href='/about/plus-account') plus-account
			| にアップグレードされます。