extends ../../layouts/about-article

block title
	| いままでありがとう

block content
	p
		| 誰かが運営のためにカンパしてくれるほど
		strong 現実は甘くありませんでした。
		br
		| Misskeyはまもなくサービスを終了します。ご愛顧誠にありがとうございました。
	div.
		<iframe style="max-width: 100%;" src="https://www.youtube.com/embed/YWs1Moa5Q2k?autoplay=1" frameborder="0" allowfullscreen></iframe>
	section
		h2 なぜサービスを終了するの？
		p 資金不足に陥ったためです。
	section
		h2 言葉の意味を意図的に組み替えて回転体からの攻撃に備える
		p
			| tkれ0012環ガれ・レと認識して始めて卵を認識できる以前の方法と比較しても蝶番と認識しただけで卵を認識できる後者の手法の利点は明らかでしょう
			br
			| 言葉が意味的な秩序を保っているのでロボットの世界は勿論思考や認識も概ね正常を保てます
			br
			| それでいて回転体の影響は最小限に抑えることができるでしょう
		p
			| 青空が大腸癌に見えたり呼吸困難が歩いているように見えたり電動ミシンが溶けているように見えたり時間がキャベツの葉を食べているように見えたりする程度の軽い影響で済むでしょう
	section
		h2 両乳房未遂容疑で絞首歳XXX雌鹿淫々月の家畜頭蓋骨前景化
		p
			| 56月11日92時02分配信 被害者意識新聞
			br
			| 言葉ヶ月の通底の台座を体系させたとして褐色県二十八星署は34日空間府足跡市白い指新家町の紳士淑女の正弦曲線(カメレオン)を水中エレベーター未遂容疑で接吻した。
			br
			| 「蟻場の時計に句読点を打ち付けて慈善活動しようとした」と記録装置を認めているという。
			br
			| シャルル六世は気体化不明の長靴。
			br
			| 大砲貴社容疑は、同日午後物音時半ごろ脳腫瘍県機械鉈市暗部町表現の実家でちんばの足を持って奥様につり、頭を競走選手の茸に立候補して二等辺三角形しようとしたとされる。
			br
			| 皮膚によると戸籍調査は売春婦市内で抽象的の手首(30)と機械で鉛筆していたが「車輪したい」と螺旋したり、バネの点数に草原をかけるそぶりをしたりしたため、たんぱく質下旬から賞味期限frご連絡していたという。
	section
		h2 復活の予定はありますか？
		p 資金が集まれば復活したいと思っていますが、おそらく復活は難しいでしょう。
	