@themeColor: <%themeColor%>;
@wallpaperUrl: <%wallpaperUrl%>;
@blurredWallpaperUrl: <%blurredWallpaperUrl%>;

html {
	background-color: #fff;
	//background-image: url(@wallpaperUrl);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

body {
}

main {
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 32px 0;

	> h1 {
		display: block;
		margin: 0;
		margin-bottom: 24px;
		padding: 0 32px;
		font-family: '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Meiryo UI', 'Meiryo', 'メイリオ', sans-serif;
		font-size: 1.2em;
		font-weight: bold;
		color: #555;

		> i {
			margin-right: 0.25em;
		}
	}

	#no-apps {
		margin: 0;
		padding: 16px;
		text-align: center;
		color: #888;
	}

	#apps {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;

		> .app {
			display: block;
			position: relative;
			padding: 24px;
			margin: 0;
			border-top: solid 1px #eee;

			&:after {
				content: "";
				display: block;
				clear: both;
			}

			> .icon-area {
				float: left;
				width: 80px;

				> .icon-anchor {
					display: block;

					> .icon {
						width: 64px;
						height: 64px;
						border-radius: 8px;
					}
				}
			}

			> .main {
				display: block;
				position: relative;
				float: left;
				width: ~"calc(100% - 80px)";

				> .remove {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					cursor: pointer;
					display: block;
					float: right;
					box-sizing: border-box;
					padding: 10px 16px;
					margin: 0;
					font-size: 1em;
					color: #fff;
					outline: none;
					border: none;
					border-radius: 4px;
					box-shadow: none;
					background: #f20;
					transition: all .5s ease;
					cursor: pointer;

					* {
						cursor: pointer;
					}

					&:hover {
						background: #f42;
						transition: all .2s ease;
					}

					&:focus {
						background: #f31;
						transition: all .2s ease;
					}

					&:active {
						background: #d00;
						transition: all .2s ease;
					}

					i {
						margin-right: 0.5em;
					}
				}

				> .name-anchor {
					color: #444;

					> .name {
						margin: 2px;
						font-weight: bold;
						font-size: 1.1em;
					}
				}

				.description {
					display: block;
					margin: 8px;
					color: #777;
				}
			}
		}
	}
}
