html {
	background: #000;
}

#menu {
	box-sizing: border-box;
	position: absolute;
	top: 16px;
	left: 16px;
	width: 256px;
}

#item-menu {
	padding: 16px;
	color: #fff;
	background: rgba(0, 0, 0, 0.8);

	.title {
		margin: 0;
	}
}
