doctype html

html
	head
		include templates/head
		title Misskey Developer Center - My Apprications
		link(rel='stylesheet', href='/resources/styles/dev.css')
	body
		#contents
			main
				article#contents-myapp
					p coming soon....
		footer
			small (c)Misskey.