doctype html

html
	head
		include templates/head
		title Misskey Developer Center - API Reference
		link(rel='stylesheet', href='/resources/styles/dev.css')
	body
		#contents
			main
				!= passedHtml
		footer
			small (c)Misskey.