doctype html

html
	head
		include templates/head
		title Misskey Developer Center - Create a new Apprication
		link(rel='stylesheet', href='/resources/styles/dev.css')
	body
		#contents
			main
				article#contents-myapp-new
					p comming soon....
		footer
			small (c)Misskey.