doctype html

html
	head
		include templates/head
		title Misskey Developer Center - Create a new User Theme
		link(rel='stylesheet', href='/resources/styles/dev.css')
	body
		#contents
			main
				article#contents-usertheme-new
					p coming soon....
		footer
			small (c)Misskey.