doctype html

html
	head
		include templates/head
		title Misskey Developer Center
		link(rel='stylesheet', href='/resources/styles/dev.css')
		script(src='/resources/scripts/dev.js')
	body
		include templates/header
		
		header
			div#titleLogo
				h1
					i.fa.fa-terminal
					| Developer-Center
		div#contents
			nav
				ul
					li
						h1#myApplications
							i.fa.fa-puzzle-piece: a(href='')
							| My Applications
						if apps != null
							each app in apps
								p(href='##{app.name}')
								|= app.name
					li
						h1#restApi REST API
						p#rest-account-show account/show
					li
						h1#myStyles MyStyles
			main
		footer
			small (c)Misskey.