doctype html

html
	head
		include templates/head
		title Misskey Developer Center
		link(rel='stylesheet', href='/resources/styles/dev.css')
		script(src='/resources/scripts/dev.js')
	body
		include templates/header

		header
			#titleLogo
				h1
					i.fa.fa-terminal
					| Developer-Center
		#contents
			nav
				ul
					li#myApp
						h1
							i.fa.fa-puzzle-piece
							| My Applications
						if apps != null
							ul
								each app in apps
									li(id='#' + app.id)= app.name
					li#restApi
						h1 REST API
						ul
							li: h2 Object
							li#objects-user user
							li: h2 API
							li#rest-account-create account/create
							li#rest-account-show account/show
							li#rest-post-create post/create
							li#rest-post-show post/show
							li#rest-sauth-get_request_token sauth/get_request_token
					li#userTheme
						h1 UserTheme
						if themes != null
							ul 
								each theme in themes
									li(id='#' + theme.id)= theme.name
			main
		footer
			small (c)Misskey.