doctype html

html
	head
		include templates/head
		title Misskey Developer Center
		link(rel='stylesheet', href='/resources/styles/dev.css')
		script(src='/resources/scripts/dev.js')
	body
		header
			div#titleLogo
				h1 Misskey Developer Center
				p 君の創り出す未来へ
			if login
				a#anchorLogout(href='/logout', target='_blank') Logout
			else
				a#anchorLogout(href='/', target='_blank') Login
		div#contents
			nav
				ul
					li
						h1
							i.fa.fa-puzzle-piece
							| My Applications
						each app in apps
							p= app.name
					li
						h1 REST API
						p Item1
					li
						h1 MenuItem
			main
		footer
			small (c)Misskey.