doctype html

html(lang='ja', dir='ltr')
	head
		include templates/head
		meta(name='description', content='Oops')
		meta(name='keywords', content='Misskey')
		title= 'Oops'
		link(rel='stylesheet', href='/resources/styles/error.css')
	
	body
		include templates/header
		
		main(role='main')
			h1
				i(class='fa fa-exclamation-triangle')
				| \‚µ–ó‚ ‚è‚Ü‚¹‚ñB‹Zp“I‚È–â‘è‚ª”­¶‚µ‚Ä‚¢‚Ü‚·B
			details
				summary ‹Zp“Iî•ñ
				pre= err
			p
				| Back to 
				a(href='/') home
				| .
