extends ./layouts/home

block title
	title Misskey

block assets
	link(rel='stylesheet', href='/resources/styles/timeline.css')
	link(rel='stylesheet', href='/resources/styles/theme/timeline.css')
	script(src=webStreamingUrl + '/socket.io/socket.io.js')
	script(src='/resources/scripts/timeline.js')
	script(src='/resources/scripts/home.js')

block content
	div#timeline
		div#post-form-container
			form#post-form(enctype='multipart/form-data', role='form', data-ui-background-wallpaper-blur='true')
				img.icon(src='/img/icon/' + me.screenName, alt='icon', title=me.comment)
				div.form
					textarea(name='text', placeholder='What\'s up?', role='textbox', aria-multiline)
					div.design-allow(role='presentation')
					input(type='submit', value!='Update &#xf1d8;', role='button')
					ul.tag.ui-taginput
					div.image-attacher
						p
							i.fa.fa-picture-o
						input(name='image', type='file', accept='image/*')
		div.timeline-container
			div.timeline-main!= timelineHtml