extends ./layouts/home

block title
	title Misskey ホーム

block assets
	link(rel='stylesheet', href='/resources/styles/timeline.css')
	link(rel='stylesheet', href='/resources/styles/theme/timeline.css')
	script(src=apiUrl + ':1207/socket.io/socket.io.js')
	script(src='/resources/scripts/timeline.js')
	script(src='/resources/scripts/home.js')

block content
	div#timeline
		div#postFormContainer
			form#postForm(enctype='multipart/form-data')
				textarea(name='text', placeholder='What\'s up?')
				input(type='submit', value='Update')
				div.imageAttacher
					p
						i.fa.fa-picture-o
					input(name='image', type='file', accept='image/*')
			
		div.timelineContainer
			div.timelineMain!= timelineHtml
