doctype html

html(lang='ja', dir='ltr')
	head
		include templates/head
		meta(name='keywords', content='Misskey')
		title Misskeyアカウントを作成する
		link(rel='stylesheet', href='/resources/styles/new.css')
		script(src='/resources/scripts/new.js')
	
	body
		main(role='main')
			h1 nice to meet you.
			form#form
				label
					h2.title ユーザー名
						p.caption
							| Misskey内のID。(半角英数字)
					div.content
						input#screenName.ui-inputText(name='screen_name', type='text', pattern='^[a-zA-Z0-9_]+$', required)
				label
					h2.title 名前
						p.caption
							| あなたのニックネーム。
					div.content
						input#name.ui-inputText(name='name', type='text', required)
				label
					h2.title パスワード
						p.caption
							| 8文字以上の強固なパスワード。
					div.content
						input#password.ui-inputPassword(name='password', type='password', required)
				label
					h2.title パスワード(再入力)
						p.caption
							| 確認のため、もう一度同じパスワードを入力してくだしあ。
					div.content
						input#passwordRetype.ui-inputPassword(name='retype_password', type='password', required)
				label
					h2.title ユーザーカラー
						p.caption
							| あなたのイメージカラー。
					div.content
						input#color.ui-inputColor(name='color', type='color', required)
				input.ui-inputSubmit(type='submit', value='アカウントを作成する')
