doctype html

html(lang='ja', dir='ltr')
	head
		include templates/head
		meta(name='description', content='Not found')
		meta(name='keywords', content='Misskey')
		title= 'Oops'
		link(rel='stylesheet', href='/resources/styles/not-found.css')
	
	body
		include templates/header
		
		main(role='main')
			h1
				i(class='fa fa-exclamation-triangle')
				| Content not found.
			p
				| Back to 
				a(href='/') home
				| .
