doctype html

html(lang='ja', dir='ltr')
	head
		include templates/head
		meta(name='description', content='Sorry, user not found.')
		meta(name='keywords', content='Misskey')
		title= 'Oops'
		link(rel='stylesheet', href='/resources/styles/user-notFound.css')
	
	body
		main(role='main')
			h1
				i(class='fa fa-exclamation-triangle')
				| Sorry, user not found.
			p
				| Go 
				a(href='/') home
				| .
