article
	header
		h2
			span.number= post.threadCursor
			a(href='/' + post.user.screenName)= post.user.name
			time(datetime= post.createdAt)= post.displayCreatedAt
			time(datetime= post.createdAt, data-display-type='relative')
	div.content
		p.text= post.text