extends ../layout.jade

block title
	| search/user

block method
	| GET

block endpoint
	| https://api.misskey.xyz/search/user

block overview
	p　スクリーン・ネームでユーザを検索します

block parameters
	table
		thead
			tr
				th Name
				th isRequired?
				th Description
		tbody
			tr
				td query
				td yes
				td 検索するスクリーン・ネーム
