extends ../layout.jade

block title
	| post/create

block method
	| POST

block endpoint
	| https://api.misskey.xyz/post/create

block overview
	p ステータスを投稿します。

block parameters
	table
		thead
			tr
				th Name
				th isRequired?
				th Description
		tbody
			tr
				td text
				td yes
				td 本文。
			tr
				td image
				td 
				td 添付する画像。
			tr
				td in_reply_to_post_id
				td 
				td 返信先投稿ID。

block response
	作成したアカウントのUserオブジェクト

block exampleResponse.
	{"appId":1,"createdAt":"2015/03/07 09:39:37 +09:00","favoritesCount":0,"id":148142,"inReplyToPostId":null,"isImageAttached":false,"repostsCount":0,"repostFromPostId":null,"text":"うー……向日葵、いつも、その、……あんがと","userId":1,"isReply":false,"app":{"id":1,"name":"Web","createdAt":"2014-09-03T15:38:15.000Z","description":"公式のWeb アプリケーションです。","isSuspended":false},"user":{"badge":"部長","bio":"**Misskeyの中の人**です\r\n\r\n作曲したり写真撮ったりしてます\r\n\r\n***櫻子分*と*ヒマワリウム*を定期的に摂取しないと死ぬ**体になった\r\n\r\n写輪眼ならぬ写真眼の持ち主です。\r\n特別強い光とかでなくても、一瞬見るだけで目を閉じれば見た景色が浮かび上がります(目を閉じなくても見れる場合がある)。通常の人は、太陽などの強い光を見た時に残像が残ると思いますが、私の場合はそれが常に起きています。\r\nこれにちゃんとした病名があるのかどうかは分かりませんがとりあえず写真眼と呼んでいます。\r\nこの症状の名前を知っている方がいたら教えてください♡","color":"#ff006c","comment":"私にキスしてね、私を見て","createdAt":"2014/09/04 00:43:02 +09:00","credit":39700,"exp":4422,"id":1,"isPremium":true,"lang":"ja","location":"Kawasaki","lv":80,"name":"大室櫻子","screenName":"syuilo","tag":"C#,フォトグラフィ,モーショングラフィックス,3DCG,作曲,DTM","url":"http://syuilo.com"}}
