@themeColor: <%themeColor%>;
@headerImageUrl: <%headerImageUrl%>;
@wallpaperUrl: <%wallpaperUrl%>;
@blurredWallpaperUrl: <%blurredWallpaperUrl%>;
@fadeThemeColor: fade(lighten(@themeColor, 47%), 95%);

main > header {
	.main {
		color: #fff;
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(@headerImageUrl);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		overflow: hidden;

		.icon {
			display: block;
			width: 64px;
			margin: 16px auto;
			border: solid 2px #fff;
			border-radius: 8px;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
		}

		h1 {
			display: block;
			margin: 8px 0;
			padding: 0;
			font-size: 1em;
			font-weight: normal;
			text-align: center;
			text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);

			.name {
				margin: 0;
			}

			.screen-name {
				margin: 0;
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}
