@themeColor: <%themeColor%>;
@headerImageUrl: <%headerImageUrl%>;
@wallpaperUrl: <%wallpaperUrl%>;
@blurredWallpaperUrl: <%blurredWallpaperUrl%>;
@fadeThemeColor: fade(lighten(@themeColor, 47%), 95%);

@media (min-width: 750px) {
	html {
		background: #eee;
	}

	body {
		padding: 16px 0;
	}

	main {
		max-width: 600px;
		margin: 0 auto;
	}
}

main > header {
	background: #fff;

	.main {
		padding: 8px 0;
		color: #fff;
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.7) 100%), url(@headerImageUrl);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		.icon {
			display: block;
			width: 80px;
			height: 80px;
			margin: 8px auto;
			border: solid 2px #fff;
			border-radius: 8px;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
		}

		.title {
			display: block;
			margin: 8px 0;
			padding: 0;
			text-align: center;
			text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);

			.name {
				margin: 0;
				font-size: 1.1em;
				font-weight: bold;

				.verified-icon {
					display: inline-block;
					vertical-align: text-bottom;
					margin-left: 0.25em;
					width: 1.1em;
					height: 1.1em;
				}
			}

			.screen-name {
				display: inline;
				margin: 0;
				color: rgba(255, 255, 255, 0.7);
				font-size: 0.9em;
			}

			#friend-status {
				display: inline;
				margin: 0 8px;
				padding: 4px 6px;
				font-size: 0.7em;
				background: rgba(0, 0, 0, 0.5);
				border-radius: 2px;
			}
		}
	}

	#profile {
		display: block;
		text-align: center;
		border-bottom: solid 1px #eee;

		#comment {
			display: block;
			position: relative;
			margin: 8px;
			padding: 8px;
			color: #222;
			background: #eee;

			&:before {
				content: "";
				display: block;
				position: absolute;
				top: -24px;
				left: calc(50% - 12px);
				border-top: solid 12px transparent;
				border-right: solid 12px transparent;
				border-bottom: solid 12px #eee;
				border-left: solid 12px transparent;
			}

			.no-comment {
				color: rgba(0, 0, 0, 0.3);
			}
		}

		#location {
			display: block;
			margin: 0 1em;
			color: #444;

			i {
				margin-right: 0.25em;
			}
		}

		#website {
			display: block;
			margin: 0 1em;
			color: #444;

			i {
				margin-right: 0.25em;
			}
		}
	}

	nav {
		display: block;
		text-align: center;
		border-bottom: solid 1px #eee;

		table {
			display: inline-block;
			margin: 0 auto;

			tr {
				th, td {
					text-align: left;
					line-height: 1em;
				}

				th {
					padding: 6px 4px 0 4px;
					min-width: 5em;
					color: #666;
					font-weight: normal;
					font-size: 0.7em;
				}

				td {
					padding: 0 4px 6px 4px;
				}
			}
		}
	}
}
