doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title= app.name
		link(rel='stylesheet', href='/resources/styles/app-mng.css')
		script(src='/resources/scripts/app-mng.js')
	
	body
		include ../common/header
		
		main(role='main')
			h1= app.name
			div.main
				