doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title New App
		link(rel='stylesheet', href='/resources/styles/app-new.css')
	
	body
		include ../common/header
		
		main(role='main')
			h1 Create a new Application
			form
				label
					h2 Name
					input.ui-input-text(name='name', type='text')
				label
					h2 Description
					input.ui-input-text(name='description', type='text')
				label
					h2 Callback URL (Optional)
					input.ui-input-text(name='callback-url', type='url')