doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title New App
		link(rel='stylesheet', href='/resources/styles/app-new.css')
	
	body
		include ../common/header
		
		main(role='main')
			h1 Create a new Application
			form
				label
					h2
						i.required *
						| Name
					input.ui-input-text(name='name', type='text', required)
					p.caption アプリケーション名。
				label
					h2
						i.required *
						| ID
					input.ui-input-text(name='id', type='text', pattern='^[a-zA-Z0-9\-]+$', required)
					p.caption アプリケーションID。半角英数字、ハイフンで構成してください。
				label
					h2
						i.required *
						| Description
					input.ui-input-text(name='description', type='text', required)
					p.caption アプリケーションの説明。
				label
					h2
						| Callback URL (Optional)
					input.ui-input-text(name='callback-url', type='url')
					p.caption 認証時のコールバックURL。このアプリケーションが、Webアプリケーションでない場合は省略してください。