doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		meta(name='keywords', content='Misskey')
		title Misskey Developer Center
		link(rel='stylesheet', href='/resources/styles/home.css')
	
	body
		include ../common/header
		
		main(role='main')
			p kyoppie