doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title My Apps
		link(rel='stylesheet', href='/resources/styles/my-apps.css')
	
	body
		include ../common/header
		
		main(role='main')
			a(href='/app-new') new