doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		title My Apps
		link(rel='stylesheet', href='/resources/styles/my-apps.css')
	
	body
		include ../common/header
		
		main(role='main')
			div.main
				header
					h1 Manage your apps
					a(href='/app-new'): i.fa.fa-plus
				ol#apps
					each app in apps
						li
							a(href='/app/' + app.id)
								h2= app.name
								p= app.description