extends ../../layouts/about-article

block title
	| Prp account

block content
	section
		h2 通常のアカウントとProアカウントの比較
		table
			tr
				th
				th.account-normal
					| Normal
				th.account-pro
					| Pro
			tr
				th
					| 投稿の最大文字数
				td
					| 300文字
				td
					| 500文字
			tr
				th
					| 投稿の編集
				td
					
				td
					i.fa.fa-check