html {
	background: #eee;
}

main {
	display: block;
	padding: 32px 0 32px 0;

	> article {
		user-select: text;
		-moz-user-select: text;
		-webkit-user-select: text;
		-ms-user-select: text;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 32px;
		width: 100%;
		max-width: 800px;
		background: #fff;
	}
}
