@themeColor: <%themeColor%>;
@headerImageUrl: <%headerImageUrl%>;
@wallpaperUrl: <%wallpaperUrl%>;
@blurredWallpaperUrl: <%blurredWallpaperUrl%>;
@fadeThemeColor: fade(lighten(@themeColor, 47%), 95%);

html, body {
	height: 100%;
}

html {
	color: #000;
	background-color: #fff;
	background-image: url(@wallpaperUrl);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

main {
	display: block;
	margin: 0;

	> header {
		background: #86c92e;
		background: -moz-linear-gradient(top, #86c92e 0%, #00ba69 99%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86c92e), color-stop(99%,#00ba69));
		background: -webkit-linear-gradient(top, #86c92e 0%,#00ba69 99%);
		background: -o-linear-gradient(top, #86c92e 0%,#00ba69 99%);
		background: -ms-linear-gradient(top, #86c92e 0%,#00ba69 99%);
		background: linear-gradient(to bottom, #86c92e 0%,#00ba69 99%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86c92e', endColorstr='#00ba69',GradientType=0 );

		h1 {
			display: block;
			width: 100%;
			max-width: 900px;
			margin: 0 auto;
			padding: 32px 64px;
			font-family: '游ゴシック', 'YuGothic', 'Helvetica', 'Arial', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Meiryo UI', 'Meiryo', 'メイリオ', sans-serif;
			font-size: 3em;
			color: #fff;
		}
	}

	> .contents {
		display: block;
		position: relative;
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
	}
}
