html {
	background: #eee;
}

main {
	padding: 16px;
}

#form {
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	padding: 32px;
	border-radius: 8px;
	background: #fff;

	h1 {
		margin: 0;
		text-align: center;
		font-weight: 100;
	}

	label {
		h2 {
			margin: 0;
			font-weight: 100;
		}
	}

	input[type=submit] {
		display: block;
		float: right;
	}
}
