html {
	background: #eee;
}

main {
	header {
		h1 {
			display: block;
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
			padding: 16px;
		}
	}
}

#posts {
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
