@themeColor: <%themeColor%>;

* {
	font-family: '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Meiryo UI', 'Meiryo', 'メイリオ', sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	color: #000;
	background: #fff;
}

body {
	position: relative;
}

#circles {
	position: absolute;
	width: 1500px;
	height: 1500px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 0;
	overflow: hidden;
	pointer-events: none;

	.c1 {
		position: absolute;
		width: 1488px;
		height: 1488px;
		border: 6px solid rgba(70,152,242,0.4);
		border-top-color: transparent;
		border-radius: 50%;
		-webkit-animation: rotate_cw 10s linear infinite;
		animation: rotate_cw 10s linear infinite;
	}

	.c2 {
		position: absolute;
		width: 1450px;
		height: 1450px;
		margin: 9px;
		border: 10px solid transparent;
		border-top-color: #4698f2;
		border-bottom-color: rgba(70,152,242,0.1);
		border-radius: 50%;
		-webkit-animation: rotate_ccw 6s linear infinite;
		animation: rotate_ccw 6s linear infinite;
	}

	.c3 {
		position: absolute;
		width: 1430px;
		height: 1430px;
		margin: 8px;
		border: 2px solid rgba(70,152,242,0.4);
		border-bottom-color: transparent;
		border-top-color: #4698f2;
		border-radius: 50%;
		-webkit-animation: rotate_cw 8s linear infinite;
		animation: rotate_cw 8s linear infinite;
	}

	@-webkit-keyframes rotate_cw {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@keyframes rotate_cw {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@-webkit-keyframes rotate_ccw {
		0% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}

		100% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	}

	@keyframes rotate_ccw {
		0% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}

		100% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	}
}

main {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 1024px;
	max-width: 100%;
	height: 512px;
	margin: auto;
	background-image: url('/resources/images/top.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	#login-form {
		display: block;
		box-sizing: border-box;
		margin: 32px 32px 32px auto;
		padding: 32px 32px 0 32px;
		width: 350px;
		background: #fff;
		box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
		transform-origin: center top;
		transform: perspective(512px);

		label {
			display: block;
			margin: 8px 0;

			p.caption {
				display: inline-block;
				box-sizing: border-box;
				padding: 8px 12px 4px 12px;
				margin: 0;
				line-height: 1.5em;
				font-size: 1em;
				font-weight: bold;
				color: #006f87;
				transition: all .5s ease;

				i {
					margin-right: 6px;
					color: #00acce;
				}
			}

			.field {
				position: relative;
			}

			.at {
				display: block;
				position: absolute;
				top: 2px;
				left: 2px;
				padding: 8px 12px;
				margin: 0;
				width: 1em;
				line-height: 1.5em;
				font-size: 1em;
				font-style: normal;
				color: #000;
				background: #f8f8f8;
				border: none;
				border-radius: 4px;
			}

			#id {
				padding-left: ~"calc(1em + 24px + 12px)";
			}

			input[type=text],
			input[type=password] {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				user-select: text;
				-moz-user-select: text;
				-webkit-user-select: text;
				-ms-user-select: text;
				display: block;
				cursor: auto;
				box-sizing: border-box;
				padding: 8px 12px;
				margin: 0;
				width: 100%;
				line-height: 1.5em;
				font-size: 1em;
				color: #000;
				outline: none;
				border: solid 2px #eee;
				border-radius: 4px;
				box-shadow: none;
				background: #fff;
				transition: all .5s ease;

				&:hover {
					border: solid 2px #00acce;
					transition: all .2s ease;
				}

				&:focus {
					color: #006f87;
					border: solid 2px #00acce;
					transition: all .2s ease;
				}
			}
		}

		input[type=submit] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
			box-sizing: border-box;
			padding: 16px 16px 32px 16px;
			margin: 0;
			width: 100%;
			font-size: 1.2em;
			color: #555;
			outline: none;
			border: none;
			border-radius: 0;
			box-shadow: none;
			background: transparent;
			transition: all .5s ease;

			&:hover {
				color: @themeColor;
				transition: all .2s ease;
			}

			&:focus {
				color: @themeColor;
				transition: all .2s ease;
			}

			&:active {
				color: darken(@themeColor, 30%);
				transition: all .2s ease;
			}
		}
	}
}

#register-form {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 360px;
	height: 210px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 0 1024px rgba(0, 0, 0, 0.5);

	form {
		margin: 0;
		padding: 0;
		background: transparent;
	}

	progress {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: block;
		position: absolute;
		z-index: 2;
		bottom: 100%;
		margin: 0;
		width: 100%;
		height: 0;
		transition: height 1s ease;

		&::-webkit-progress-value {
			background-color: @themeColor;
			transition: all 1s ease;
		}

		&::-webkit-progress-bar {
			background-color: #fff;
		}
	}

	.slide {
		display: block;
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		text-align: center;
		background: #fff;
		opacity: 0;
		transform-origin: center center;
		transform: perspective(512px);
		transition: transform 0.5s cubic-bezier(0,.7,.3,1);

		.title {
			display: block;
			position: relative;
			left: 64px;
			margin: 0;
			padding: 0;
			font-size: 1.5em;
			font-weight: 100;
			color: #555;
			opacity: 0;
		}

		.caption {
			display: block;
			margin: 8px 0;
			padding: 4px 0 0 0;
			font-size: 1.2em;
			color: #555;
			border-top: solid 1px #eee;
		}

		.message {
			display: inline-block;
			pointer-events: none;
			position: absolute;
			top: 0;
			bottom: 0;
			box-sizing: border-box;
			//right: ~"calc(100% + 24px)";
			right: ~"calc(100% + -8px)";
			margin: 0;
			margin-right: 32px;
			padding: 16px 28px;
			height: 64px;
			max-width: 350px;
			min-height: 64px;
			white-space: pre;
			word-wrap: break-word;
			line-height: 32px;
			background: #fff;
			//box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
			box-shadow: 0 0 50px rgba(0,0,0,0.3);
			opacity: 0;

			&.fail {
				font-weight: bold;
				color: #ff4300;

				&:before {
					content: "\f071";
					font-family: FontAwesome;
					margin-right: 8px;
				}
			}

			&.done {
				font-weight: bold;
				color: @themeColor;

				&:before {
					content: "\f00c";
					font-family: FontAwesome;
					margin-right: 8px;
				}
			}

			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 16px;
				right: -32px;
				font-size: 0;
				line-height: 0;
				border-top: solid 16px transparent;
				border-right: solid 16px transparent;
				border-bottom: solid 16px transparent;
				border-left: solid 16px #fff;
			}
		}

		button {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
			display: inline-block;
			top: 0;
			left: 0;
			box-sizing: border-box;
			width: 6rem;
			padding: 8px 12px;
			margin: 16px;
			line-height: 1.5rem;
			font-size: 0.9em;
			font-weight: bold;
			color: #fff;
			background: #5a7d7f;
			border: none;
			outline: none;
			transition: all .2s ease;

			&:disabled {
				background: #ddd !important;
			}

			&:hover {
				background: #29797f;
				transition: all .1s ease;
			}

			&:active {
				background: #09596f;
				transition: all .1s ease;
			}

			&:focus {
				text-shadow: 0 0 8px #fff;
			}
		}
	}

	.complete {
		transform-origin: center top !important;
		transition: none !important;
	}
}
