@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono);

* {
	font-family: 'Oxygen Mono', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	color: #fff;
	background: #000;
}

#logs {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;

	.log {
		display: block;
		margin: 0;
		padding: 0;
	}

	.web-incoming,
	.api-incoming,
	.api-outgoing {
		span {
			margin: 0 8px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.api-outgoing {
		color: #0f0;
	}
}
