@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

* {
	font-family: 'Oxygen Mono', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	color: #fff;
	background: #000;
}

#logs {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;

	.log {
		display: block;
		margin: 0;
		padding: 0;

		p {
			margin: 0;
			padding: 0;
		}
	}
}
