@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
	font-family:
		'Open Sans',
		Helvetica,
		Arial,
		'Hiragino Kaku Gothic ProN',
		'ヒラギノ角ゴ ProN W3',
		Meiryo UI,
		Meiryo,
		メイリオ,
		sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	background: #eee;
	color: #fff;
}

body {
	/*
	background-image: url("/resources/images/top.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	*/
	background: #000;
}

main video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#musicAuthor {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 16px;
	font-size: 2em;
}

main {
	height: 100%;
	text-align: center;
}
	main > h1 {
		margin: 0;
		padding: 32px;
	}

	main > #loginForm {
		position: relative;
		box-sizing: border-box;
		width: 350px;
		margin: 0 auto;
		padding: 32px 32px 0 32px;
		
		background: #223;
		box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.2);
		
		transform: perspective(512px);
	}

		main > #loginForm input[type=text],
		main > #loginForm input[type=password] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			user-select: text;
			-moz-user-select: text;
			-webkit-user-select: text;
			-ms-user-select: text;
			cursor: auto;
			
			box-sizing: border-box;
			padding: 8px 16px;
			margin: 8px 0;
			width: 100%;
			
			font-size: 1.2em;
			color: #fff;
			outline: none;
			border: solid 1px #445;
			border-radius: 0;
			box-shadow: none;
			background: transparent;
			
			transition: all .5s ease;
		}
		main > #loginForm input[type=text]:hover,
		main > #loginForm input[type=password]:hover {
			border: solid 1px #5e0;
			transition: all .2s ease;
		}
		main > #loginForm input[type=text]:focus,
		main > #loginForm input[type=password]:focus {
			border: solid 1px #5e0;
			color: #5e0;
			transition: all .2s ease;
		}
		main > #loginForm input[type=text]::-webkit-input-placeholder,
		main > #loginForm input[type=password]::-webkit-input-placeholder,
		main > #loginForm input[type=text]::-moz-placeholder,
		main > #loginForm input[type=password]::-moz-placeholder,
		main > #loginForm input[type=text]:-ms-input-placeholder,
		main > #loginForm input[type=password]:-ms-input-placeholder {
			color: #334;
		}

		main > #loginForm input[type=submit] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			
			cursor: pointer;
			
			box-sizing: border-box;
			padding: 16px 16px 32px 16px;
			margin: 0;
			width: 100%;
			
			font-size: 1.2em;
			color: #fff;
			outline: none;
			border: none;
			border-radius: 0;
			box-shadow: none;
			background: transparent;
			
			transition: all .5s ease;
		}
		main > #loginForm input[type=submit]:hover {
			color: #5e0;
			transition: all .2s ease;
		}
		main > #loginForm input[type=submit]:focus {
			color: #5e0;
			transition: all .2s ease;
		}
		main > #loginForm input[type=submit]:active {
			color: #3c0;
			transition: all .2s ease;
		}

