@themeColor: <%themeColor%>;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
	font-family: 'Open Sans', 'Helvetica', 'Arial', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo UI', 'Meiryo', 'メイリオ', sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	color: #000;
	background-color: #fff;
	background-image: url("/resources/images/top.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

body {
}

main {
	height: 100%;
	text-align: center;

	h1 {
		margin: 0;
		padding: 32px;
	}

	#mainContainer {
		position: relative;
		box-sizing: border-box;
		width: 350px;
		margin: 0 auto;

		#loginForm {
			position: relative;
			box-sizing: border-box;
			width: 100%;
			margin: 0;
			padding: 32px 32px 0 32px;
			background: #fff;
			box-shadow: 0 0 128px rgba(0, 0, 0, 0.9);
			transform: perspective(512px);

			label {
				display: block;
				position: relative;
				min-height: ~"calc(1.1em + 16px)";

				&:hover, &:focus {
					p.caption {
						background: #29797f;
					}
				}

				p.caption {
					display: inline-block;
					position: absolute;
					top: 0;
					left: 0;
					box-sizing: border-box;
					width: 6em;
					padding: 8px 8px;
					margin: 0;
					font-size: 1.1em;
					font-weight: bold;
					color: #fff;
					background: #5a7d7f;
				}

				input[type=text],
				input[type=password] {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					user-select: text;
					-moz-user-select: text;
					-webkit-user-select: text;
					-ms-user-select: text;
					display: inline-block;
					position: absolute;
					top: 0;
					right: 0;
					cursor: auto;
					box-sizing: border-box;
					padding: 8px 12px;
					margin: 0;
					width: ~"calc(100% - 6em)";
					font-size: 1.1em;
					color: #000;
					outline: none;
					border: none;
					border-radius: 0;
					box-shadow: none;
					background: transparent;
					transition: all .5s ease;

					&:hover {
						transition: all .2s ease;
					}

					&:focus {
						width: 100%;
						color: @themeColor;
						transition: all .2s ease;
					}
				}
			}

			input[type=submit] {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				cursor: pointer;
				box-sizing: border-box;
				padding: 16px 16px 32px 16px;
				margin: 0;
				width: 100%;
				font-size: 1.2em;
				color: #555;
				outline: none;
				border: none;
				border-radius: 0;
				box-shadow: none;
				background: transparent;
				transition: all .5s ease;

				&:hover {
					color: @themeColor;
					transition: all .2s ease;
				}

				&:focus {
					color: @themeColor;
					transition: all .2s ease;
				}

				&:active {
					color: darken(@themeColor, 30%);
					transition: all .2s ease;
				}
			}
		}

		#new {
			display: inline-block;
			position: relative;
			padding: 8px 16px;
		}
	}
}
