@themeColor: <%themeColor%>;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
	font-family: 'Open Sans', 'Helvetica', 'Arial', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo UI', 'Meiryo', 'メイリオ', sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	background: #eee;
	color: #fff;
}

body {
	/*
	background-image: url("/resources/images/top.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	*/
	background: #000;
}

main video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#musicAuthor {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 16px 32px;
	font-size: 2em;
}

main {
	height: 100%;
	text-align: center;

	> h1 {
		margin: 0;
		padding: 32px;
	}

	#loginForm {
		position: relative;
		box-sizing: border-box;
		width: 350px;
		margin: 0 180px 0 auto;
		padding: 32px 32px 0 32px;
		border-top: solid 3px @themeColor;
		background: #fff;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
		transform: perspective(512px);

		input[type=text],
		input[type=password] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			user-select: text;
			-moz-user-select: text;
			-webkit-user-select: text;
			-ms-user-select: text;
			cursor: auto;
			box-sizing: border-box;
			padding: 8px 16px;
			margin: 8px 0;
			width: 100%;
			font-size: 1.2em;
			color: #fff;
			outline: none;
			border: solid 1px #eee;
			border-radius: 0;
			box-shadow: none;
			background: transparent;
			transition: all .5s ease;

			&:hover {
				border: solid 1px @themeColor;
				transition: all .2s ease;
			}

			&:focus {
				border: solid 1px @themeColor;
				color: @themeColor;
				transition: all .2s ease;
			}
		}

		input[type=submit] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
			box-sizing: border-box;
			padding: 16px 16px 32px 16px;
			margin: 0;
			width: 100%;
			font-size: 1.2em;
			color: #fff;
			outline: none;
			border: none;
			border-radius: 0;
			box-shadow: none;
			background: transparent;
			transition: all .5s ease;

			&:hover {
				color: @themeColor;
				transition: all .2s ease;
			}

			&:focus {
				color: @themeColor;
				transition: all .2s ease;
			}

			&:active {
				color: darken(@themeColor, 30%);
				transition: all .2s ease;
			}
		}
	}
}

#new {
	display: inline-block;
	position: relative;
	padding: 8px 16px;
}
