main {
	display: block;
	width: 100%;
	text-align: center;
	
	#title {
		margin: 0;
		padding: 8px;
		font-size: 1.5em;
		font-weight: normal;
		color: rgba(0, 0, 0, 0.8);
	}
	
	#image {
		display: block;
		margin: 0 auto;
	}
	
	#download {
		i {
			margin-right: 8px;
		}
	}
}