@themeColor: <%themeColor%>;
@wallpaperUrl: <%wallpaperUrl%>;

html {
	background: #eee;
}

#stream {
	width: 600px;
	max-width: 100%;
	margin: 0 auto;

	#emptyStream, #noFollowingMe {
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		text-align: center;
		font-size: 0.8em;
		color: rgba(0, 0, 0, 0.4);

		i {
			margin-right: 4px;
		}
	}

	#emptyStream {
		padding: 16px 8px 8px 8px;
	}

	#noFollowingMe {
		padding: 8px;
	}

	#otherpartyTyping {
		text-align: center;

		img {
			display: inline;
			vertical-align: middle;
			max-width: 32px;
			max-height: 32px;
			border-radius: 4px;
		}

		p {
			display: inline;
			margin: 0 4px;
		}
	}
}

#postFormContainer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #55788E;

	form {
		width: 600px;
		max-width: 100%;
		margin: 0 auto;

		textarea {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			display: block;
			box-sizing: border-box;
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			margin: 0;
			padding: 8px;
			font-size: 1.3em;
			color: #000;
			outline: none;
			border: none;
			border-radius: 0;
			box-shadow: none;
			transition: all .2s ease;
		}

		input[type=submit] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			display: inline-block;
			float: right;
			box-sizing: border-box;
			margin: 0;
			padding: 6px 16px;
			min-width: 5em;
			cursor: pointer;
			line-height: 1.3em;
			font-size: 1.3em;
			font-weight: normal;
			text-decoration: none;
			color: #fff;
			background: @themeColor;
			outline: none;
			border: none;
			border-radius: 0;
			box-shadow: none;
			transition: background 0.1s ease;

			&:hover {
				background: lighten(@themeColor, 10%);
			}

			&:active {
				background: darken(@themeColor, 10%);
			}
		}

		.imageAttacher {
			float: right;
			margin: 0;
			padding: 10px 20px;
			outline: none;

			&:hover {
				/*outline: dashed 2px rgba(255,255,255,0.3);*/
				background: rgba(255,255,255,0.3);
			}

			p i {
				color: #fff;
			}
		}
	}
}

.talkStream {

	> .messages {
		margin: 0;
		padding: 0;
		list-style: none;

		> .message {
			position: relative;
			padding: 0;
			background-color: transparent;

			> article {
				display: block;
				position: relative;
				padding: 20px 12px;

				&:after {
					content: "";
					display: block;
					clear: both;
				}

				a > .icon {
					min-width: 54px;
					min-height: 54px;
					max-width: 54px;
					max-height: 54px;
					margin: 0;
					border-radius: 8px;
					transition: all 0.1s ease;
				}

				> .contentContainer {
					display: block;
					box-sizing: border-box;
					position: relative;
					margin: 0 12px;
					padding: 0;
					max-width: ~"calc(100% - 78px)";

					> .content {
						display: block;
						float: inherit;
						box-sizing: border-box;
						position: relative;
						margin: 0;
						padding: 8px 16px;
						max-width: 100%;
						line-height: 1.3em;
						border-radius: 16px;

						&:before {
							content: "";
							pointer-events: none;
							display: block;
							position: absolute;
							top: ~"calc(((1.3em + (8px * 2)) / 2) - 8px)";
						}

						> p.text {
							user-select: text;
							-moz-user-select: text;
							-webkit-user-select: text;
							-ms-user-select: text;
							cursor: default;
							display: block;
							margin: 0 0 0 0;
							padding: 0;
							overflow: hidden;
							word-wrap: break-word;
							font-size: 1.1em;
							color: rgba(0, 0, 0, 0.8);

							.url {
								color: #1bb3b3;
								text-decoration: none;

								&:hover {
									text-decoration: underline;
								}

								&:after {
									content: "\f14c";
									display: inline-block;
									padding-left: 2px;
									font-family: FontAwesome;
									font-size: 0.9em;
									font-weight: normal;
									font-style: normal;
								}
							}

							.screenName {
								color: @themeColor;
								text-decoration: none;
								transition: text-shadow 0.2s ease;

								&:hover {
									text-shadow: 0 0 4px fade(@themeColor, 30%);
								}
							}

							b {
								font-weight: bold;
							}

							small {
								margin: 0 4px;
								font-size: 0.8em;
								color: rgba(0, 0, 0, 0.6);
							}
						}

						> textarea.text {
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							user-select: text;
							-moz-user-select: text;
							-webkit-user-select: text;
							-ms-user-select: text;
							cursor: default;
							display: block;
							box-sizing:border-box;
							margin: 0;
							padding: 0;
							overflow: hidden;
							word-wrap: break-word;
							font-size: 1.1em;
							color: #fff;
							border: none;
							outline: none;
							background: rgba(255, 255, 255, 0.1);
						}

						> .image {
							display: block;
							max-width: 100%;
							max-height: 512px;
							border-radius: 2px;
						}
					}

					> time {
						display: block;
						clear: both;
						margin: 0;
						padding: 2px;
						font-size: 0.65em;
						color: rgba(0, 0, 0, 0.4);
					}
				}
			}
		}

			> .message.me {
				> article {
					a > .icon {
						float: right;
					}

					> .contentContainer {
						float: right;

						> .content {
							background: #33B623;

							&:before {
								right: -14px;
								border-top: solid 8px transparent;
								border-right: solid 8px transparent;
								border-bottom: solid 8px transparent;
								border-left: solid 8px #33B623;
							}

							> .text {
								color: #fff;

								> .url {
									color: #fff;
								}
							}
						}

						> time {
							text-align: right;
						}
					}
				}
			}

			> .message.otherparty {
				> article {
					a > .icon {
						float: left;
					}

					> .contentContainer {
						float: left;

						> .content {
							background: #fff;

							&:before {
								left: -14px;
								border-top: solid 8px transparent;
								border-right: solid 8px #fff;
								border-bottom: solid 8px transparent;
								border-left: solid 8px transparent;
							}

							> .text {
							}
						}

						> time {
							text-align: left;
						}
					}
				}
			}
	}
}
