@themeColor: <%themeColor%>;
@headerImageUrl: <%headerImageUrl%>;
@wallpaperUrl: <%wallpaperUrl%>;
@blurredWallpaperUrl: <%blurredWallpaperUrl%>;
@blurredHeaderImageUrl: <%blurredHeaderImageUrl%>;

.shadow {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

html, body {
	height: 100%;
}

html {
	color: #000;
	background-color: #fff;
	background-image: url(@wallpaperUrl);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

main {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	> header {
		display: block;
		position: relative;
		width: 100%;
		//max-width: 900px;
		margin: 8px auto 0 auto;
		padding: 0;
		border-radius: 8px 8px 0 0;
		//.shadow;

		> #headerMain {
			position: relative;
			width: 100%;
			height: 320px;
			// Background Image
			background-image: url(@headerImageUrl);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			border-radius: 8px 8px 0 0;

			> #headerUserMenu {
				position: absolute;
				top: 0;
				right: 0;
				padding: 16px;

				> ul {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						display: inline-block;
						color: #fff;

						a {
							display: inline-block;
							color: #fff;
						}

						button {
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							display: inline-block;
							padding: 0;
							background: transparent;
							border: none;
							outline: none;
							cursor: pointer;
							color: #fff;
						}

						i {
							padding: 8px 16px;
							font-size: 2em;
							color: #fff;
							text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

							&:hover {
								color: @themeColor;
							}
						}
					}
				}
			}

			> #headerUserArea {
				display: block;
				box-sizing: border-box;
				position: relative;
				width: 280px;
				height: 100%;
				overflow: hidden;
				margin: 0;
				padding: 16px 8px;
				text-align: center;
				color: #fff;
				text-shadow: 0 0 16px rgba(0,0,0,0.7);
				//box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
				border-radius: 8px 0 0 0;

				> #headerUserAreaBackground {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 320px;
					background-image: url(@blurredHeaderImageUrl);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
				}

				> #headerUserAreaMain {
					position: relative;

					#icon {
						display: block;
						width: 150px;
						height: 150px;
						max-width: 150px;
						max-height: 150px;
						margin: 0 auto;
						padding: 0;
						border-radius: 80px;
						transition: all .2s ease;

						&:hover {
							border-radius: 0;
							filter: saturate(200%);
							-webkit-filter: saturate(200%);
							-moz-filter: saturate(200%);
							-o-filter: saturate(200%);
							-ms-filter: saturate(200%);
							transform: scale(1.2) rotateZ(10deg);
							box-shadow: 0 0 0 140px rgba(0, 0, 0, 0.1);
						}
					}

					h1 {
						margin: 8px 0;
						padding: 0;
						font-size: 1em;
						font-weight: normal;
						color: #fff;
						text-shadow: 0 0 16px rgba(0, 0, 0, 0.7);

						#name {
							display: block;
							font-size: 2em;
							color: #fff;
						}

						#screenName {
							display: block;
							margin: 0 4px;
							font-size: 0.8em;
							color: rgba(255, 255, 255, 0.7);
						}
					}
				}
			}
		}

		> nav {
			display: block;
			box-sizing: border-box;
			position: relative;
			width: 100%;
			margin: 0;
			padding: 0;
			background: #fff;
			/*background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(@blurredWallpaperUrl);
			background-color: transparent;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;*/
			border-radius: 0 0 8px 8px;

			> #headerNavBackground {
				/*
				position: absolute;
				bottom: 0;
				left: 0;
				width: 1000px;
				height: 400px;
				background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(@headerBlurImageUrl);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				clip: rect(400px, 1000px, 1000px, 0px);
				*/
			}

			> #headerNavMain {
				position: relative;
				//box-shadow: 0 2px 2px -2px rgba(0,0,0,0.5);
				table {
					padding: 6px 64px;
					margin: 0 auto;

					tr {
						th, td {
							min-width: 5em;
							padding: 0;
							margin: 0;
						}

						th {
							text-align: left;
							font-size: 0.8em;
							font-weight: normal;
							color: rgba(0, 0, 0, 0.5);
						}

						td {
							font-size: 1.5em;
						}
					}
				}

				> #friendStatus {
					position: absolute;
					top: 0;
					right: 0;
					margin: 0;
					padding: 12px 33px;
					color: rgba(0, 0, 0, 0.7);
				}

				> #followButton {
					display: block;
					position: absolute;
					bottom: 100%;
					right: 0;
					margin: 16px;
				}
			}
		}
	}


	#content {
		background: #fff;

		&:after {
			content: "";
			display: block;
			clear: both;
		}

		#timeline {
		}

		#followings-list, #followers-list {
			box-sizing: border-box;
			padding: 16px;
			background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(@blurredWallpaperUrl);
			background-color: transparent;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			border-radius: 8px;
			.shadow;

			> h2 {
				padding: 8px 16px;
				margin: 0;
				color: rgba(0, 0, 0, 0.8);
				border-bottom: solid 1px rgba(0, 0, 0, 0.1);
			}
		}

		.usersList {
			padding: 16px 32px;

			ol {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					padding: 16px 0;

					&:after {
						content: "";
						display: block;
						clear: both;
					}

					a > .icon {
						float: left;
						min-width: 54px;
						min-height: 54px;
						max-width: 54px;
						max-height: 54px;
						margin: 0 12px 4px 0;
						border-radius: 8px;
						transition: all 0.1s ease;
					}

					> h2 {
						text-align: left;
						display: inline;
						margin: 0;
						padding: 0;
						font-weight: normal;
						font-size: 1em;

						> a {
							color: rgba(0, 0, 0, 0.9);
							font-weight: bold;
							text-decoration: none;
							transition: all 0.1s ease;
						}

						> .screenName {
							text-align: left;
							margin: 0 0 0 8px;
							color: rgba(0, 0, 0, 0.5);
						}
					}

					> .comment {
						display: block;
						margin: 0 0 0 0;
						padding: 0;
						overflow: hidden;
						word-wrap: break-word;
						font-size: 1.1em;
						color: rgba(0, 0, 0, 0.8);
					}
				}

					li[data-user-verified='true'] {
						> h2 > a {
							&:before {
								content: '';
								display: inline-block;
								vertical-align: text-bottom;
								margin-right: 4px;
								width: 1.1em;
								height: 1.1em;
								background-image: url('/resources/images/verified.png');
								background-size: 1.1em 1.1em;
							}
						}
					}
			}
		}
	}
}
