doctype html

html(lang='ja', dir='ltr')
	head
		meta(charset='utf-8')
		meta(name='description', content='Access Denied')
		title= 'Access Denied'
	
	body
		article
			h1
				| your ip addr is banned
				small(style='margin: 1em;') (#{ip})
			p
				| ご不明な点がございましたら、なんらかの方法で私syuiloに連絡をお取りください。いつもご利用いただきありがとうございます。
