extends ../layout.jade

block title
	| account/create

block method
	| POST

block endpoint
	| https://api.misskey.xyz/account/create

block overview
	p 新しくアカウントを作成します。

block parameters
	table
		thead
			tr
				th Name
				th isRequired?
				th Description
		tbody
			tr
				td screen_name
				td yes
				td スクリーンネーム(5～19文字,半角英数字記号 /a-zA-Z0-9_/)
			tr
				td name
				td yes
				td 名前
			tr
				td password
				td yes
				td パスワード(9文字以上)
			tr
				td color
				td yes
				td ユーザーカラー(#RRGGBB)

block response
	作成したアカウントのUserオブジェクト
