doctype html

html(lang='ja', dir='ltr')
	head
		include ../common/head
		meta(name='keywords', content='Misskey')
		title アンケート
		link(rel='stylesheet', href='/resources/styles/questionnaire-submitted.css')
		
	body
		include ../common/header
		
		main(role='main')
			article
				h1 ご意見が送信されました
				p ありがとうございました。